SourceCode/mojoportal.CoreHelpers/obj/
SourceCode/mojoPortal.Data.MSSQL/obj/
SourceCode/mojoPortal.Features.UI/bin/
SourceCode/mojoPortal.Model/obj/
SourceCode/mojoPortal.Service/bin/
SourceCode/mojoPortal.Web.Editor/bin/
SourceCode/Web/bin/
SourceCode/Brettle.Web.NeatHtml/bin/
SourceCode/Brettle.Web.NeatHtml/obj/
SourceCode/mojoPortal.API/bin/
SourceCode/mojoPortal.Business.WebHelpers/obj/
SourceCode/mojoPortal.Business/obj/
SourceCode/mojoPortal.Data.MSSQL/bin/
SourceCode/mojoPortal.Features.Business/bin/
SourceCode/mojoPortal.Features.Business/obj/
SourceCode/mojoPortal.Features.UI/obj/
SourceCode/mojoPortal.Net/obj/
SourceCode/mojoPortal.Service/obj/
SourceCode/mojoPortal.Web.Controls/bin/
SourceCode/mojoPortal.Web.Controls/obj/
SourceCode/mojoPortal.Web.Editor/obj/
SourceCode/mojoPortal.Web.Framework/obj/
SourceCode/mojoPortal.Features.Data.MSSQL/obj/
SourceCode/mojoPortal.Model/bin/
SourceCode/mojoPortal.Net/bin/
SourceCode/mojoPortal.Business/bin/
SourceCode/mojoPortal.Business.WebHelpers/bin/
SourceCode/Web/obj/
SourceCode/Web/obj/Debug/
SourceCode/Web/obj/Debug/TempPE/
SourceCode/Web/obj/Debug/TempPE/App_GlobalResources*
SourceCode/mojoPortal.API/obj/
SourceCode/mojoportal.CoreHelpers/bin/
SourceCode/mojoPortal.Features.Data.MSSQL/bin/
SourceCode/mojoPortal.Web.Framework/bin/
SourceCode/.vs/PortalBenTre/v15/Server/
SourceCode/Web/Data/currentlog.config
SourceCode/Web/ThongKetruyCap.txt


Document/Home_sualai copy.jpg

.vs
.vs/
bin/Debug

SourceCode/.vs/


SourceCode/Web/Uploads/GiaoDienNenWinrar/
SourceCode/Web/Data/Sites/1/skins/GiaoDienTest1/
SourceCode/Web/Data/Sites/1/skins/Fake/
SourceCode/Web/Data/Sites/1/skins/GiaoDien2/
SourceCode/Web/Data/Sites/1/skins/Bentre/
SourceCode/Web/Data/Sites/1/skins/GiaoDienTest2/

SourceCode/Web/ThongKetruyCap.txt
SourceCode/Web/Data/currentlog.config
SourceCode/packages/log4net.2.0.0/.signature.p7s
SourceCode/packages/log4net.2.0.0/log4net.2.0.0.nupkg
SourceCode/packages/log4net.2.0.0/lib/net10-full/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net11-full/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net20-cf/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net20-full/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net35-client/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net35-full/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net40-client/log4net.xml
SourceCode/packages/log4net.2.0.0/lib/net40-full/log4net.xml
SourceCode/packages.rar
SourceCode/Mojoportal.ConvertData/bin/Debug/net5.0/Mojoportal.ConvertData.deps.json
SourceCode/Mojoportal.ConvertData/bin/Debug/net5.0/Mojoportal.ConvertData.exe
SourceCode/Mojoportal.ConvertData/obj/Debug/net5.0/Mojoportal.ConvertData.csproj.FileListAbsolute.txt
SourceCode/Mojoportal.ConvertData/obj/
SourceCode/mojoportal.App/obj/
