<tr>
    <td>
        <textarea class="form-control" name="TenGiayTo"></textarea>
    </td>
    <td>
        <textarea class="form-control" name="MauDonToKhai"></textarea>
    </td>
    <td>
        <textarea class="form-control" name="SoLuong"></textarea>
    </td>
    <td class="text-center">
        <div class='btn-group gr-nghiphep'>
            <a href="javascript:void(0)" onclick="onDeleteThanhPhanHoSo(0,this)" class="btn-remove hvr-radial-out" title="Xóa"><i class="fa fa-trash"></i></a>
        </div>
    </td>
</tr>