<tr>
    <td>
        <input type="text" name="TenMau" class="form-control" />
    </td>
    <td>
        <input type="text" name="PathFile" class="form-control" style="width:calc(100% - 100px)" />
        <button type="button" class="btn btn-primary btn-sm" onclick="UploadBieuMau(this)"><i class="fa fa-upload" aria-hidden="true"></i></button>
    </td>
    <td></td>
    <td class="text-center">
        <div class='btn-group gr-nghiphep'>
            <a href="javascript:void(0)" onclick="onDeleteBieuMau(0,this)" class="btn-remove hvr-radial-out" title="Xóa"><i class="fa fa-trash"></i></a>
        </div>
    </td>
</tr>