<link href="/Scripts/plugins/hinet-table/hinet-table.css" rel="stylesheet" />
<link href="/ACE-Layout/js/plugin/select2/select2.min.css" rel="stylesheet" />

@*@Scripts.Render("~/bundles/jquery")*@


<script src="/ACE-Layout/js/plugin/select2/select2.min.js"></script>


<script src="/ClientScript/ckeditor462/ckeditor.js"></script>
<script src="/ACE-Layout/Content/Custom/Common.js"></script>
<link href="/ACE-Layout/css/Common.css" rel="stylesheet" />

<script src="/Scripts/plugins/hinet-table/jquery-hinet-table.js"></script>
<style>
    #loading {
        z-index: 9999999;
    }
</style>
<div id="loading">
    <div class="main-load">
        <div class="load"></div>
        Đang xử lý.....
    </div>
</div>
<div class="wf100">
    @RenderBody()
</div>
<div id="globalModal" class="modal fade" role="dialog" data-backdrop="static"></div>
<div id="globalModal2" class="modal fade" role="dialog" data-backdrop="static" style="background: rgba(0,0,0,.7);"></div>
<div id="globalModal3" class="modal fade" role="dialog" data-backdrop="static" style="background: rgba(0,0,0,.7);"></div>

<script type="text/javascript">
    $(document).ajaxStart(function () {
        $('#loading').fadeIn(200);
    });

    $(document).ajaxComplete(function () {
        $('#loading').fadeOut(200);
    });
</script>
