.small-item {
    border-bottom: 1px solid #ededed;
    margin-bottom : 15px;
    padding-bottom : 5px;
}

.tnb-title-box-category {
    margin-bottom: 10px;
}
.list-other-item > img{
    width: 100px;
}
.list-other-item, .small-item, .featured-item {
    text-align: justify;
}
.list-other-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
.small-item:last-child, .list-other-item:last-child {
    border-bottom: none;
}

    .list-other-item > img {
        max-width: 100px;
        max-height: 60px;
        margin-left: auto;
    }
    .list-other-item > a {
        text-align: justify;
        padding: 4px 10px 4px 4px;
        font-weight: bold;
    }
.small-item > a {
    font-weight: bold;
}
.featured-item > a {
    font-weight: bold;
}

/*Form search*/
.box-search-car {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 10px;
    background: #F7F7F7;
    width: 100%;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    display: none;
}

.tab-search {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
}

.tab-item {
    flex: 1;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    font-weight: bold;
}

    .tab-item img {
        vertical-align: middle;
        margin-right: 5px;
    }

    .tab-item.active {
        color: #007bff;
        border-bottom: 2px solid #007bff;
    }

.form-search {
    position: relative;
}

.input-search {
    width: 100%;
    padding: 8px 35px 8px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.btn-search {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.ic {
    fill: #999;
}

.tab-item > img {
    width : 24px;
    height : 16px;
}

.box-search .box-search-car {
    display: block;
}
#suggestionList { 
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    position: absolute;
    top: 43px;
    padding: 15px 10px 15px 15px;
    border-radius: 3px;
    width: 100%;
}
#suggestionList>li {
    padding: 8px;
}


/* Sportlight */
/* Cấu trúc layout của item */
.event-item-spl {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

    /* Ảnh bên trái */
    .event-item-spl .col-8 {
        padding-right: 0;
        width:66.6666%; /* Chiếm 75% chiều rộng */
        position: relative;
    }

.img-responsive-custom {
    width: 100%; /* Ảnh chiếm 100% chiều rộng của div cha */
    height: 100%; /* Đảm bảo chiều cao của ảnh bằng chiều cao của div */
    object-fit: cover; /* Phóng to ảnh và cắt theo chiều rộng và chiều cao của div */
    display: block;
}

/* Thông tin bên phải */
.event-item-spl .col-4 {
    width: 33.3333%; /* Chiếm 25% chiều rộng */
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.event-info {
    display: flex;
    flex-direction: column;
}

    .event-info a {
        text-decoration: none;
        color: inherit;
    }

    /* Tiêu đề bài viết */
    .event-info .fw-bold {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    /* Tóm tắt bài viết */
    .event-info a:last-of-type {
        color: #777; /* Màu nhạt cho phần tóm tắt */
        font-size: 0.9rem;
    }

.spotlight {
    border: none;
    max-width: 100% !important;
    background: none;
}
.event-item-spl .flex-column {
    background: #f7f7f7;
}
    .spotlight .event-header {
        border: none;
    }
.spotlight envent{
    border: none;
    max-width: 100% !important;
}

    .spotlight #lnkTieuDeTin {
        font-size: 19px;
    }
    .spotlight .event-info a:last-child {
        font-size: 16px;
    }
/* Xem Nhiều */
.popular-news-panel {
    padding: 15px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.section-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}

.news-item {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.left-col {
    float: left;
    clear: both;
}

.right-col {
    float: right;
}

.news-rank {
    font-size: 24px;
    font-weight: bold;
    width: 30px;
    flex-shrink: 0;
}

.news-content {
    padding-left: 10px;
}

.news-title {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

    .news-title:hover {
        text-decoration: underline;
    }

.news-comments {
    font-size: 13px;
    color: #999;
    margin-top: 5px;
    display: inline-block;
}
/* Kiểu hiển thị Ảnh */



/* Ẩn tin khối 3 - 5 tin 2 ảnh*/

.hide-title .title-box-category {
    display: none;
}

.hide-title .boddertopkhoi3 {
    display: none;
}
.hide-title .d-flex.float-left { 
    width: 100% !important;
}