@using Newtonsoft.Json
@using mojoPortal.Web.Areas.BaoCaoArea.Models
@model BaoCaoIndexVM
@{
    Layout = "~/Views/Shared/_LayoutAjaxEmpty.cshtml";
    ViewBag.Title = "Quản lý công khai ngân sách";
    var groupData = Html.Raw(JsonConvert.SerializeObject(Model.ListData.ListItem));
}


<div id="content">
    <div class="content__main_table table_admin">
        <div class="wf100 titleDanhsach listvanban__box_admin">
            <h2>Quản lý công khai ngân sách</h2>
        </div>
        <div class="listvanban__box__thaotac wf100">
            <div class="rowthaotac__left listvanban__box__thaotac__row col-sm-6 pd0">
                <a href="#collapseDiv" class="btn listvanban__box__thaotac__btn hvr-sweep-to-bottom collapsed" aria-controls="collapsePanel" data-toggle="collapse" role="button">
                    <i class="fa fa-search"></i>  <span>Tìm kiếm</span>
                </a>
                <a href="javascript:void(0)" onclick="onEdit(0)" class="btn listvanban__box__thaotac__btn hvr-sweep-to-bottom" id="btn--add-new">
                    <i class="fa fa-plus"></i> <span>Thêm mới</span>
                </a>               
            </div>
        </div>
        @Html.Partial("_SearchPartial")
        <div class="widge-t-body">
            <div id="tbl-BaoCao" class="hntbl-cover vanban_chung_box">
                <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="width30">STT</th>
                            <th>Tiêu đề</th>
                            <th>Năm/chu kỳ báo cáo</th>
                            <th>Biểu mẫu</th>
                            <th>Số QĐ công bố</th>
                            <th>Ngày công bố</th>
                            <th>Đường dẫn toàn văn</th>
                            <th>Xuất bản</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="pd0 hienthi_vanban customize-hinet-table"></div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="total-page" value="@Model.ListData.TotalPage" />
<input type="hidden" id="total-record" value="@Model.ListData.Count" />
<script>
    var groupData = eval(@groupData);
</script>
<script src="~/Scripts/modules/report/report_index.js"></script>
<script>
    function CreateUnit() {
        $.ajax({
            type: "get",
            url: "/BaoCaoArea/BaoCao/FormBaoCao",
            success: function (rs) {
                $("#globalModal").html(rs);
                $("#globalModal").modal("show");
            }, error: function (er) {
                console.log(er);
            }
        })
    }
</script>
